.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-AlhWATCf_tSa);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-8pTSQh4Jy8RF);
  font-family: var(--token-CWJdeCP0dUN6);
  font-size: var(--token-iOuyhexNNgAE);
  line-height: var(--token-6ck3EeoKZVak);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-C8oA4NimFeNU);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-utWSooIMRoii);
  outline-offset: 1px;
  outline-color: var(--token-AlhWATCf_tSa);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-Sj2KY-2nqfeq);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-3oxU2PuTVKqb);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-3dAlS2f4w_tv);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-b2xQDe9txzGF);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-Mpdgtx3wK958);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-be3e8lITj7dF);
  font-size: var(--token-1R0CJdk6v1pB);
  column-gap: var(--token-utWSooIMRoii);
  row-gap: 0px;
  border-radius: var(--token-U6FSmh4Hm_pp);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-1R0CJdk6v1pB);
  line-height: var(--token-be3e8lITj7dF);
  column-gap: var(--token-U6FSmh4Hm_pp);
  row-gap: 0px;
  border-radius: var(--token-U6FSmh4Hm_pp);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-MnxRPKK1yIl1);
  line-height: var(--token-AvR_7z08-mQw);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-MnxRPKK1yIl1);
  line-height: var(--token-AvR_7z08-mQw);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-nknV5ZsHH5_V);
  border-radius: var(--token-C8oA4NimFeNU);
}
.softBackgroundcolor_neutral {
  background: var(--token-J4p3iTIJII39);
}
.softBackgroundcolor_muted {
  background: var(--token-E_MAsZNZDLWR);
}
.softBackgroundcolor_success {
  background: var(--token-bNuistL6_PPp);
}
.softBackgroundcolor_warning {
  background: var(--token-U7SzQcgomWNq);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-8jmw9XvpdOfr);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-C8oA4NimFeNU);
  border: 0px solid var(--token-heEd9NaoIs1i);
}
.bordercolor_neutral {
  border-color: var(--token-mrrGo3PqhOmQ);
}
.bordercolor_muted {
  border-color: var(--token-dEAjgrphGine);
}
.bordercolor_success {
  border-color: var(--token-4hPuLRGdX-Wh);
}
.bordercolor_warning {
  border-color: var(--token-sAbpQXzlV176);
}
.bordercolor_errorDestructive {
  border-color: var(--token-prEi7d_r7tI7);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-C8oA4NimFeNU);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Wj8XfkJygKlY);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-ncmMThxjfEae);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-ZPn96eXCvAGi);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__osVkw {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-C8oA4NimFeNU);
  min-width: 0;
  min-height: 0;
  padding: var(--token-C8oA4NimFeNU) var(--token-LCFzW-DGVydk);
}
.freeBoxsize_extraSmall__osVkwVaBb {
  padding: var(--token-U6FSmh4Hm_pp) var(--token-C8oA4NimFeNU);
}
.freeBoxsize_small__osVkw4Q8TK {
  padding: var(--token-C8oA4NimFeNU) var(--token-8pTSQh4Jy8RF);
}
.freeBoxsize_large__osVkwiMdad {
  padding-top: var(--token-U6FSmh4Hm_pp);
  padding-bottom: var(--token-U6FSmh4Hm_pp);
}
.freeBoxsize_extraLarge__osVkwcYjod {
  padding-left: var(--token-wXz3Bbxi8drs);
  padding-right: var(--token-wXz3Bbxi8drs);
}
.freeBoxroundedFull__osVkwnPw4U {
  padding-right: var(--token-wXz3Bbxi8drs);
  padding-left: var(--token-wXz3Bbxi8drs);
}
.freeBox___70RI0 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___70RI0V0UPz {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ozUgXx05gFUv);
}
.slotTargetStartcolor_neutral {
  color: var(--token-_I5v8JQ6gA4g);
}
.slotTargetStartcolor_muted {
  color: var(--token-_Pc0R7r71O7D);
}
.slotTargetStartcolor_success {
  color: var(--token-P6dnxXr3lXna);
}
.slotTargetStartcolor_warning {
  color: var(--token-4-ITcSqc_LRj);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-lEOgBfNC64YI);
}
.slotTargetStarttype_soft {
  color: var(--token-DHNJQGfDpD75);
}
.slotTargetStarttype_bordered {
  color: var(--token-DHNJQGfDpD75);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-1R0CJdk6v1pB);
}
.slotTargetStartsize_small {
  font-size: var(--token-1R0CJdk6v1pB);
}
.slotTargetStartsize_large {
  font-size: var(--token-MnxRPKK1yIl1);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-MnxRPKK1yIl1);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-K-5Z3b0xhCen);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-K-5Z3b0xhCen);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-EzZ1TnNd6-Qk);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-EzZ1TnNd6-Qk);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-VN3vuaBhVhU1);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-VN3vuaBhVhU1);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-eqUuLcVwMuTK);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-eqUuLcVwMuTK);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-Nfox50fYXFx-);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-Nfox50fYXFx-);
}
.svg___3U7VG {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-ozUgXx05gFUv);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-_I5v8JQ6gA4g);
}
.slotTargetLabelcolor_muted {
  color: var(--token-_Pc0R7r71O7D);
}
.slotTargetLabelcolor_success {
  color: var(--token-P6dnxXr3lXna);
}
.slotTargetLabelcolor_warning {
  color: var(--token-4-ITcSqc_LRj);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-lEOgBfNC64YI);
}
.slotTargetLabeltype_soft {
  color: var(--token-DHNJQGfDpD75);
}
.slotTargetLabeltype_bordered {
  color: var(--token-DHNJQGfDpD75);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-K-5Z3b0xhCen);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-EzZ1TnNd6-Qk);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-K-5Z3b0xhCen);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-VN3vuaBhVhU1);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-EzZ1TnNd6-Qk);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-eqUuLcVwMuTK);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-VN3vuaBhVhU1);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-Nfox50fYXFx-);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-eqUuLcVwMuTK);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-Nfox50fYXFx-);
}
.text__hW6Yj {
  white-space: pre;
}
.freeBox___9XVGf {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___9XVGfaWmZp {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ozUgXx05gFUv);
}
.slotTargetEndcolor_neutral {
  color: var(--token-_I5v8JQ6gA4g);
}
.slotTargetEndcolor_muted {
  color: var(--token-_Pc0R7r71O7D);
}
.slotTargetEndcolor_success {
  color: var(--token-P6dnxXr3lXna);
}
.slotTargetEndcolor_warning {
  color: var(--token-4-ITcSqc_LRj);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-lEOgBfNC64YI);
}
.slotTargetEndtype_soft {
  color: var(--token-DHNJQGfDpD75);
}
.slotTargetEndtype_bordered {
  color: var(--token-DHNJQGfDpD75);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-1R0CJdk6v1pB);
}
.slotTargetEndsize_small {
  font-size: var(--token-1R0CJdk6v1pB);
}
.slotTargetEndsize_large {
  font-size: var(--token-MnxRPKK1yIl1);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-MnxRPKK1yIl1);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-K-5Z3b0xhCen);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-K-5Z3b0xhCen);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-EzZ1TnNd6-Qk);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-EzZ1TnNd6-Qk);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-VN3vuaBhVhU1);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-VN3vuaBhVhU1);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-eqUuLcVwMuTK);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-eqUuLcVwMuTK);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-Nfox50fYXFx-);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-Nfox50fYXFx-);
}
.svg__hgUwc {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
