@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-AlhWATCf_tSa: #2563eb;
  --plasmic-token-brand-brand: var(--token-AlhWATCf_tSa);
  --token-8pTSQh4Jy8RF: 0.5rem;
  --plasmic-token-size-8: var(--token-8pTSQh4Jy8RF);
  --token-CWJdeCP0dUN6: Inter;
  --plasmic-token-sans-serif: var(--token-CWJdeCP0dUN6);
  --token-iOuyhexNNgAE: 1rem;
  --plasmic-token-font-md: var(--token-iOuyhexNNgAE);
  --token-6ck3EeoKZVak: 1.25;
  --plasmic-token-line-height-md: var(--token-6ck3EeoKZVak);
  --token-C8oA4NimFeNU: 0.375rem;
  --plasmic-token-size-6: var(--token-C8oA4NimFeNU);
  --token-Sj2KY-2nqfeq: #374151;
  --plasmic-token-neutral-neutral: var(--token-Sj2KY-2nqfeq);
  --token-Mpdgtx3wK958: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-Mpdgtx3wK958);
  --token-3oxU2PuTVKqb: #6b7280;
  --plasmic-token-muted-muted: var(--token-3oxU2PuTVKqb);
  --token-U6FSmh4Hm_pp: 0.25rem;
  --plasmic-token-size-4: var(--token-U6FSmh4Hm_pp);
  --token-1R0CJdk6v1pB: 0.75rem;
  --plasmic-token-font-sm: var(--token-1R0CJdk6v1pB);
  --token-be3e8lITj7dF: 1;
  --plasmic-token-line-height-sm: var(--token-be3e8lITj7dF);
  --token-MnxRPKK1yIl1: 1.25rem;
  --plasmic-token-font-lg: var(--token-MnxRPKK1yIl1);
  --token-AvR_7z08-mQw: 1.4;
  --plasmic-token-line-height-lg: var(--token-AvR_7z08-mQw);
  --token-utWSooIMRoii: 0.125rem;
  --plasmic-token-size-2: var(--token-utWSooIMRoii);
  --token-3dAlS2f4w_tv: #16a34a;
  --plasmic-token-success-success: var(--token-3dAlS2f4w_tv);
  --token-b2xQDe9txzGF: #facc15;
  --plasmic-token-warning-warning: var(--token-b2xQDe9txzGF);
  --token-nknV5ZsHH5_V: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-nknV5ZsHH5_V);
  --token-J4p3iTIJII39: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-J4p3iTIJII39);
  --token-E_MAsZNZDLWR: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-E_MAsZNZDLWR);
  --token-bNuistL6_PPp: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-bNuistL6_PPp);
  --token-U7SzQcgomWNq: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-U7SzQcgomWNq);
  --token-8jmw9XvpdOfr: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-8jmw9XvpdOfr);
  --token-heEd9NaoIs1i: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-heEd9NaoIs1i);
  --token-mrrGo3PqhOmQ: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-mrrGo3PqhOmQ);
  --token-dEAjgrphGine: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-dEAjgrphGine);
  --token-4hPuLRGdX-Wh: #86efac;
  --plasmic-token-success-success-border: var(--token-4hPuLRGdX-Wh);
  --token-sAbpQXzlV176: #fde047;
  --plasmic-token-warning-warning-border: var(--token-sAbpQXzlV176);
  --token-prEi7d_r7tI7: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-prEi7d_r7tI7);
  --token-Wj8XfkJygKlY: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-Wj8XfkJygKlY);
  --token-ncmMThxjfEae: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-ncmMThxjfEae);
  --token-ZPn96eXCvAGi: #00000033;
  --plasmic-token-interaction-pressed: var(--token-ZPn96eXCvAGi);
  --token-LCFzW-DGVydk: 0.625rem;
  --plasmic-token-size-10: var(--token-LCFzW-DGVydk);
  --token-wXz3Bbxi8drs: 0.75rem;
  --plasmic-token-size-12: var(--token-wXz3Bbxi8drs);
  --token-ozUgXx05gFUv: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-ozUgXx05gFUv);
  --token-_I5v8JQ6gA4g: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-_I5v8JQ6gA4g);
  --token-_Pc0R7r71O7D: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-_Pc0R7r71O7D);
  --token-DHNJQGfDpD75: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-DHNJQGfDpD75);
  --token-4-ITcSqc_LRj: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-4-ITcSqc_LRj);
  --token-P6dnxXr3lXna: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-P6dnxXr3lXna);
  --token-lEOgBfNC64YI: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-lEOgBfNC64YI);
  --token-K-5Z3b0xhCen: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-K-5Z3b0xhCen);
  --token-EzZ1TnNd6-Qk: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-EzZ1TnNd6-Qk);
  --token-VN3vuaBhVhU1: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-VN3vuaBhVhU1);
  --token-eqUuLcVwMuTK: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-eqUuLcVwMuTK);
  --token-Nfox50fYXFx-: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-Nfox50fYXFx-
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-xnp6W5izQqo7_font-family: "Inter", sans-serif;
  --mixin-xnp6W5izQqo7_font-size: 16px;
  --mixin-xnp6W5izQqo7_font-weight: 400;
  --mixin-xnp6W5izQqo7_font-style: normal;
  --mixin-xnp6W5izQqo7_color: #535353;
  --mixin-xnp6W5izQqo7_text-align: left;
  --mixin-xnp6W5izQqo7_text-transform: none;
  --mixin-xnp6W5izQqo7_line-height: 1.5;
  --mixin-xnp6W5izQqo7_letter-spacing: normal;
  --mixin-xnp6W5izQqo7_white-space: pre-wrap;
  --mixin-xnp6W5izQqo7_user-select: text;
  --mixin-xnp6W5izQqo7_text-decoration-line: none;
  --mixin-xnp6W5izQqo7_text-overflow: clip;
  --mixin-wuFEsMK78qaC_color: #000000;
  --mixin-wuFEsMK78qaC_font-weight: 700;
  --mixin-wuFEsMK78qaC_font-size: 64px;
  --mixin-wuFEsMK78qaC_line-height: 1;
  --mixin-wuFEsMK78qaC_letter-spacing: -1px;
  --mixin-wuFEsMK78qaC_white-space: pre-wrap;
  --mixin-TaSHvjxoiXYh_color: #000000;
  --mixin-TaSHvjxoiXYh_font-size: 48px;
  --mixin-TaSHvjxoiXYh_font-weight: 700;
  --mixin-TaSHvjxoiXYh_letter-spacing: -0.5px;
  --mixin-TaSHvjxoiXYh_line-height: 1.1;
  --mixin-TaSHvjxoiXYh_white-space: pre-wrap;
  --mixin-QlNWc9chti7P_color: #0070f3;
  --mixin-QlNWc9chti7P_white-space: pre-wrap;
  --mixin-uUxS8tXl6xsd_color: #000000;
  --mixin-uUxS8tXl6xsd_font-size: 32px;
  --mixin-uUxS8tXl6xsd_font-weight: 600;
  --mixin-uUxS8tXl6xsd_line-height: 1.2;
  --mixin-uUxS8tXl6xsd_white-space: pre-wrap;
  --mixin-YciNsqy5Yv8U_color: #000000;
  --mixin-YciNsqy5Yv8U_font-size: 24px;
  --mixin-YciNsqy5Yv8U_font-weight: 600;
  --mixin-YciNsqy5Yv8U_line-height: 1.3;
  --mixin-YciNsqy5Yv8U_white-space: pre-wrap;
  --mixin-9GYrfVUzUPNd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9GYrfVUzUPNd_border-bottom-color: #dddddd;
  --mixin-9GYrfVUzUPNd_border-bottom-style: solid;
  --mixin-9GYrfVUzUPNd_border-bottom-width: 1px;
  --mixin-9GYrfVUzUPNd_border-left-color: #dddddd;
  --mixin-9GYrfVUzUPNd_border-left-style: solid;
  --mixin-9GYrfVUzUPNd_border-left-width: 1px;
  --mixin-9GYrfVUzUPNd_border-right-color: #dddddd;
  --mixin-9GYrfVUzUPNd_border-right-style: solid;
  --mixin-9GYrfVUzUPNd_border-right-width: 1px;
  --mixin-9GYrfVUzUPNd_border-top-color: #dddddd;
  --mixin-9GYrfVUzUPNd_border-top-style: solid;
  --mixin-9GYrfVUzUPNd_border-top-width: 1px;
  --mixin-9GYrfVUzUPNd_border-bottom-left-radius: 3px;
  --mixin-9GYrfVUzUPNd_border-bottom-right-radius: 3px;
  --mixin-9GYrfVUzUPNd_border-top-left-radius: 3px;
  --mixin-9GYrfVUzUPNd_border-top-right-radius: 3px;
  --mixin-9GYrfVUzUPNd_font-family: "Inconsolata";
  --mixin-9GYrfVUzUPNd_padding-bottom: 1px;
  --mixin-9GYrfVUzUPNd_padding-left: 4px;
  --mixin-9GYrfVUzUPNd_padding-right: 4px;
  --mixin-9GYrfVUzUPNd_padding-top: 1px;
  --mixin-9GYrfVUzUPNd_white-space: pre-wrap;
  --mixin-ytczKunoc6Cu_border-left-color: #dddddd;
  --mixin-ytczKunoc6Cu_border-left-style: solid;
  --mixin-ytczKunoc6Cu_border-left-width: 3px;
  --mixin-ytczKunoc6Cu_color: #888888;
  --mixin-ytczKunoc6Cu_padding-left: 10px;
  --mixin-ytczKunoc6Cu_white-space: pre-wrap;
  --mixin-9tYPHNlMeYxL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9tYPHNlMeYxL_border-bottom-color: #dddddd;
  --mixin-9tYPHNlMeYxL_border-bottom-style: solid;
  --mixin-9tYPHNlMeYxL_border-bottom-width: 1px;
  --mixin-9tYPHNlMeYxL_border-left-color: #dddddd;
  --mixin-9tYPHNlMeYxL_border-left-style: solid;
  --mixin-9tYPHNlMeYxL_border-left-width: 1px;
  --mixin-9tYPHNlMeYxL_border-right-color: #dddddd;
  --mixin-9tYPHNlMeYxL_border-right-style: solid;
  --mixin-9tYPHNlMeYxL_border-right-width: 1px;
  --mixin-9tYPHNlMeYxL_border-top-color: #dddddd;
  --mixin-9tYPHNlMeYxL_border-top-style: solid;
  --mixin-9tYPHNlMeYxL_border-top-width: 1px;
  --mixin-9tYPHNlMeYxL_border-bottom-left-radius: 3px;
  --mixin-9tYPHNlMeYxL_border-bottom-right-radius: 3px;
  --mixin-9tYPHNlMeYxL_border-top-left-radius: 3px;
  --mixin-9tYPHNlMeYxL_border-top-right-radius: 3px;
  --mixin-9tYPHNlMeYxL_font-family: "Inconsolata";
  --mixin-9tYPHNlMeYxL_padding-bottom: 3px;
  --mixin-9tYPHNlMeYxL_padding-left: 6px;
  --mixin-9tYPHNlMeYxL_padding-right: 6px;
  --mixin-9tYPHNlMeYxL_padding-top: 3px;
  --mixin-9tYPHNlMeYxL_white-space: pre-wrap;
  --mixin-hCWAGUf8wvIP_display: flex;
  --mixin-hCWAGUf8wvIP_flex-direction: column;
  --mixin-hCWAGUf8wvIP_align-items: stretch;
  --mixin-hCWAGUf8wvIP_justify-content: flex-start;
  --mixin-hCWAGUf8wvIP_list-style-position: outside;
  --mixin-hCWAGUf8wvIP_padding-left: 40px;
  --mixin-hCWAGUf8wvIP_position: relative;
  --mixin-hCWAGUf8wvIP_list-style-type: disc;
  --mixin-hCWAGUf8wvIP_white-space: pre-wrap;
  --mixin-JfIVkATDp7eR_display: flex;
  --mixin-JfIVkATDp7eR_flex-direction: column;
  --mixin-JfIVkATDp7eR_align-items: stretch;
  --mixin-JfIVkATDp7eR_justify-content: flex-start;
  --mixin-JfIVkATDp7eR_list-style-position: outside;
  --mixin-JfIVkATDp7eR_padding-left: 40px;
  --mixin-JfIVkATDp7eR_position: relative;
  --mixin-JfIVkATDp7eR_list-style-type: decimal;
  --mixin-JfIVkATDp7eR_white-space: pre-wrap;
  --mixin-gggKj1MdP3Sl_color: #000000;
  --mixin-gggKj1MdP3Sl_font-size: 20px;
  --mixin-gggKj1MdP3Sl_font-weight: 600;
  --mixin-gggKj1MdP3Sl_line-height: 1.5;
  --mixin-gggKj1MdP3Sl_white-space: pre-wrap;
  --mixin-YfiRFdMmrTn-_color: #000000;
  --mixin-YfiRFdMmrTn-_font-size: 16px;
  --mixin-YfiRFdMmrTn-_font-weight: 600;
  --mixin-YfiRFdMmrTn-_line-height: 1.5;
  --mixin-YfiRFdMmrTn-_white-space: pre-wrap;
  --mixin-FaG8HsdA0yBp_color: #3291ff;
  --mixin-FaG8HsdA0yBp_white-space: pre-wrap;
  --mixin-b_t2z65atSGu_white-space: pre-wrap;
  --mixin-lwZekiS2Gm8m_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xnp6W5izQqo7_font-family);
  font-size: var(--mixin-xnp6W5izQqo7_font-size);
  font-weight: var(--mixin-xnp6W5izQqo7_font-weight);
  font-style: var(--mixin-xnp6W5izQqo7_font-style);
  color: var(--mixin-xnp6W5izQqo7_color);
  text-align: var(--mixin-xnp6W5izQqo7_text-align);
  text-transform: var(--mixin-xnp6W5izQqo7_text-transform);
  line-height: var(--mixin-xnp6W5izQqo7_line-height);
  letter-spacing: var(--mixin-xnp6W5izQqo7_letter-spacing);
  white-space: var(--mixin-xnp6W5izQqo7_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-wuFEsMK78qaC_color);
  font-weight: var(--mixin-wuFEsMK78qaC_font-weight);
  font-size: var(--mixin-wuFEsMK78qaC_font-size);
  line-height: var(--mixin-wuFEsMK78qaC_line-height);
  letter-spacing: var(--mixin-wuFEsMK78qaC_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-TaSHvjxoiXYh_color);
  font-size: var(--mixin-TaSHvjxoiXYh_font-size);
  font-weight: var(--mixin-TaSHvjxoiXYh_font-weight);
  letter-spacing: var(--mixin-TaSHvjxoiXYh_letter-spacing);
  line-height: var(--mixin-TaSHvjxoiXYh_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-QlNWc9chti7P_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-uUxS8tXl6xsd_color);
  font-size: var(--mixin-uUxS8tXl6xsd_font-size);
  font-weight: var(--mixin-uUxS8tXl6xsd_font-weight);
  line-height: var(--mixin-uUxS8tXl6xsd_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-YciNsqy5Yv8U_color);
  font-size: var(--mixin-YciNsqy5Yv8U_font-size);
  font-weight: var(--mixin-YciNsqy5Yv8U_font-weight);
  line-height: var(--mixin-YciNsqy5Yv8U_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9GYrfVUzUPNd_font-family);
  border-radius: var(--mixin-9GYrfVUzUPNd_border-top-left-radius)
    var(--mixin-9GYrfVUzUPNd_border-top-right-radius)
    var(--mixin-9GYrfVUzUPNd_border-bottom-right-radius)
    var(--mixin-9GYrfVUzUPNd_border-bottom-left-radius);
  padding: var(--mixin-9GYrfVUzUPNd_padding-top)
    var(--mixin-9GYrfVUzUPNd_padding-right)
    var(--mixin-9GYrfVUzUPNd_padding-bottom)
    var(--mixin-9GYrfVUzUPNd_padding-left);
  border-top: var(--mixin-9GYrfVUzUPNd_border-top-width)
    var(--mixin-9GYrfVUzUPNd_border-top-style)
    var(--mixin-9GYrfVUzUPNd_border-top-color);
  border-right: var(--mixin-9GYrfVUzUPNd_border-right-width)
    var(--mixin-9GYrfVUzUPNd_border-right-style)
    var(--mixin-9GYrfVUzUPNd_border-right-color);
  border-bottom: var(--mixin-9GYrfVUzUPNd_border-bottom-width)
    var(--mixin-9GYrfVUzUPNd_border-bottom-style)
    var(--mixin-9GYrfVUzUPNd_border-bottom-color);
  border-left: var(--mixin-9GYrfVUzUPNd_border-left-width)
    var(--mixin-9GYrfVUzUPNd_border-left-style)
    var(--mixin-9GYrfVUzUPNd_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ytczKunoc6Cu_color);
  padding-left: var(--mixin-ytczKunoc6Cu_padding-left);
  border-left: var(--mixin-ytczKunoc6Cu_border-left-width)
    var(--mixin-ytczKunoc6Cu_border-left-style)
    var(--mixin-ytczKunoc6Cu_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9tYPHNlMeYxL_font-family);
  border-radius: var(--mixin-9tYPHNlMeYxL_border-top-left-radius)
    var(--mixin-9tYPHNlMeYxL_border-top-right-radius)
    var(--mixin-9tYPHNlMeYxL_border-bottom-right-radius)
    var(--mixin-9tYPHNlMeYxL_border-bottom-left-radius);
  padding: var(--mixin-9tYPHNlMeYxL_padding-top)
    var(--mixin-9tYPHNlMeYxL_padding-right)
    var(--mixin-9tYPHNlMeYxL_padding-bottom)
    var(--mixin-9tYPHNlMeYxL_padding-left);
  border-top: var(--mixin-9tYPHNlMeYxL_border-top-width)
    var(--mixin-9tYPHNlMeYxL_border-top-style)
    var(--mixin-9tYPHNlMeYxL_border-top-color);
  border-right: var(--mixin-9tYPHNlMeYxL_border-right-width)
    var(--mixin-9tYPHNlMeYxL_border-right-style)
    var(--mixin-9tYPHNlMeYxL_border-right-color);
  border-bottom: var(--mixin-9tYPHNlMeYxL_border-bottom-width)
    var(--mixin-9tYPHNlMeYxL_border-bottom-style)
    var(--mixin-9tYPHNlMeYxL_border-bottom-color);
  border-left: var(--mixin-9tYPHNlMeYxL_border-left-width)
    var(--mixin-9tYPHNlMeYxL_border-left-style)
    var(--mixin-9tYPHNlMeYxL_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-hCWAGUf8wvIP_display);
  flex-direction: var(--mixin-hCWAGUf8wvIP_flex-direction);
  align-items: var(--mixin-hCWAGUf8wvIP_align-items);
  justify-content: var(--mixin-hCWAGUf8wvIP_justify-content);
  list-style-position: var(--mixin-hCWAGUf8wvIP_list-style-position);
  padding-left: var(--mixin-hCWAGUf8wvIP_padding-left);
  position: var(--mixin-hCWAGUf8wvIP_position);
  list-style-type: var(--mixin-hCWAGUf8wvIP_list-style-type);
  column-gap: var(--mixin-hCWAGUf8wvIP_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JfIVkATDp7eR_display);
  flex-direction: var(--mixin-JfIVkATDp7eR_flex-direction);
  align-items: var(--mixin-JfIVkATDp7eR_align-items);
  justify-content: var(--mixin-JfIVkATDp7eR_justify-content);
  list-style-position: var(--mixin-JfIVkATDp7eR_list-style-position);
  padding-left: var(--mixin-JfIVkATDp7eR_padding-left);
  position: var(--mixin-JfIVkATDp7eR_position);
  list-style-type: var(--mixin-JfIVkATDp7eR_list-style-type);
  column-gap: var(--mixin-JfIVkATDp7eR_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-gggKj1MdP3Sl_color);
  font-size: var(--mixin-gggKj1MdP3Sl_font-size);
  font-weight: var(--mixin-gggKj1MdP3Sl_font-weight);
  line-height: var(--mixin-gggKj1MdP3Sl_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-YfiRFdMmrTn-_color);
  font-size: var(--mixin-YfiRFdMmrTn-_font-size);
  font-weight: var(--mixin-YfiRFdMmrTn-_font-weight);
  line-height: var(--mixin-YfiRFdMmrTn-_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-FaG8HsdA0yBp_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
